@import 'fonts.css';
@import 'all.min.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

 :root {
    --mb:'montserrat-bold';
    --mr:'montserrat-regular';
    --bg: #d8d2d2;
 }

body {
    background: #E5E5E5;
}

/* HEADER START */

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 20px;
    position: relative;
    margin-bottom: 40px;
}

.header__nav::after,
.main__title::after{
    content: '';
    max-width: 1320px;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: #323232;
    border-radius: 0.5px;
    position: absolute;
    display: block;
}

.header__nav-logo {
font-family: var(--mb);
font-size: 32px;
line-height: 23px;
color: #323232;
margin-left: 10px;
}

.header__nav-left{
    display: flex;
   }

.header__nav-list{
    display: flex;
    margin-left: 50px;
}
.header__nav-list a{
    font-family: var(--mr);
    font-size: 18px;
    line-height: 22px;
    color: #323232;
    margin-left: 30px;
}

.header__nav-right{
    display: flex;
    gap: 40px;
}

.header__nav-icons{
    display: flex;
    gap: 40px;
}

.header__nav-lg{
    cursor: pointer;
    font-family: var(--mr);
}

.header__nav-lg-ul {
    font-family: var(--mr);
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 3px;
    border: 0.5px solid rgb(146, 179, 179);
    box-shadow: 0px 1px 10px beige;
    display: none;
    position: absolute;
}

.header__nav-lg-ul a{
    padding: 5px 10px;
    display: block; 
}

.header__nav-lg-ul a:hover{
     background-color: rgb(207, 212, 216);
}   

.header__nav-cursor:hover .header__nav-lg-ul{
    display: block;
}

.header__content{
    display: flex;
    margin-bottom: 60px;
}

.header__content-left{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header__content-watch{
    display: flex;
    background: var(--bg);
    border-radius: 10px;
    padding: 73px 73px 47px 119px;
    position: relative;
}

.header__content-img{
    margin-right: 40px;
}

.header__content-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    align-items: center;
}

.title_1{
font-family: var(--mr);
font-size: 16px;
line-height: 20px;
color: #323232;
}

.title_2{
font-family: var(--mb);
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #000000;
}

.pricing{
font-family: var(--mr);
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #323232;
}

.header__content-right{
    max-width: 746px;
    width: 100%;
    padding: 188px 0;
    background: var(--bg);
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
}

.header__content-watch::before,
.header__content-right::before{
    content:'50%';
    background: #323232;
    border-radius: 10px;
    font-family: var(--mr);
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 11px 38px;
    position: absolute;
    top: 20px;
    left: 20px;
}
/* HEADER END */

/* MAIN START */

.main__title{
font-family: var(--mr);
font-size: 30px;
line-height: 37px;
letter-spacing: 2.2px;
text-transform: uppercase;
color: #000000;
text-align: center;
position: relative;

}
.main__title-first{
    padding-bottom: 20px;
}

.main__watches{
    display: flex;
/*     max-width: 100%;  
 */    flex-wrap: nowrap;
}

.main__watch-info{
    display: flex;
    flex-direction: column;
    max-width: 416px;
    width: 100%;
    background: var(--bg);
    padding: 72px 108px 39px 108px;
    border-radius: 10px;
    margin-top: 40px;
}

.main__watch-info img{
    max-width: 200px;
    width: 100%;
}

.main__watch-info a{
    text-align: center;
    margin-top: 20px;
}

/* MAIN END */